@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');

$primary-color: #2A2E54;
$secondary-color: #5DFFD8;
$text-color: #5B6663;
$light-color: #ffffff;

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
}
* {
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
    margin: 0;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    position: relative;
    width: 100%;
    @media screen and (min-width: 992px) {
        height: 100vh;
    }
    section {
        padding: 25px;
        @media screen and (max-width: 991px) {
            width: 100vw;
        }
        @media screen and (min-width: 576px) {
            padding: 50px;
        }
    }
}

/** Left Section */
.advertisements {
    background-image: url(../img/ads-section-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    @media screen and (max-width: 991px) {
        padding-bottom: 150px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, $secondary-color, $primary-color);
        mix-blend-mode: multiply;
    }
}
.info-links {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 991px) {
        padding-bottom: 50px;
    }
    a:not(:last-child) {
        margin-bottom: 1rem;
    }
}
.swiper-slide {
    border-radius: 3px;
    img {
        width: 100%;
    }
}

/** Right Section */ 
.main-info {
    @media screen and (min-width: 992px) {
        position: relative;
    }
    @media screen and (max-width: 991px) {
        grid-row: 1 / -1;
    }
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    &__item {
        background-color: $secondary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        transition: all .3s ease-in-out;
        &:not(:last-child) {
            margin-right: .5rem;
        }
        &:hover {
            transform: rotate(-10deg) translateY(-5px);
        }
    }
}
.mobile-info {
    position: absolute;
	z-index: 2;
	top: 20px;
	right: 5%;
	pointer-events: none;
    @media screen and (min-width: 768px) {
        display: none;
    }
    &__bg {
        position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background: $secondary-color;
		box-shadow: 0 1px 4px rgba(#000, .2);
        transition: height .2s,box-shadow .2s;
    }
    &.visible {
		pointer-events: auto;
	}
	&.visible .mobile-info__bg {
		height: 100%;
		box-shadow: 0 6px 30px rgba(#000, .2);
	}
    &__trigger {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        /* replace text with image */
        overflow: hidden;
        white-space: nowrap;
        color: transparent;
        pointer-events: auto;
    
        span, 
        span::after, 
        span::before {
            position: absolute;
            width: 16px;
            height: 2px;
            background-color: $primary-color;
        }
        
        span {
            left: 50%;
            top: 50%;
            bottom: auto;
            right: auto;
            transform: translateX(-50%) translateY(-50%);
            transition: background-color .2s;
        }
    
        span::after, 
        span::before {
            /* top and bottom lines of the hamburger icon */
            content: '';
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transition: transform .2s;
        }
    
        span::before {
            transform: translateY(-6px);
        }
    
        span::after {
            transform: translateY(6px);
        }
    
        .no-touch &:hover ~ .mobile-info__bg {
            box-shadow: 0 6px 30px rgba(#000, .2);
        }
    
        .visible & {
    
            span {
                background-color: transparent;
            }
    
            span::before {
                transform: rotate(-45deg);
            }
    
            span::after {
                transform: rotate(45deg);
            }
        }
    }
}
.mobile-info ul {
	position: relative;
	z-index: 2;
	padding: 60px 0 0;
	visibility: hidden;
    transition: visibility .3s;
	text-align: right;

	a {
		position: relative;
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0 calc(1em + 60px) 0 1em;
		color: $primary-color;
		font-size: .8rem;
        font-weight: 500;
        transition: color .2s;
        text-decoration: none;

		&::after {
			/* navigation item icons */
			content: '';
			position: absolute;
            background-size: cover;
			height: 16px;
			width: 16px;
			right: 22px;
			top: 50%;
            transform: translateY(-50%) scale(0);
		}

	}

	li:first-of-type a::after {
		/* change custom icon using image sprites */
		background-image: url(../img/facebook-icon.svg);
	}

	li:nth-of-type(2) a::after {
		background-image: url(../img/instagram-icon.svg);
	}

	li:nth-of-type(3) a::after {
		background-image: url(../img/youtube-icon.svg);
	}

	li:nth-of-type(4) a::after {
		background-image: url(../img/whatsapp-icon.svg);
	}

	li:nth-of-type(5) a::after {
		background-image: url(../img/email-icon.svg);
	}

	span {
		/* navigation item labels */
		display: block;
		opacity: 0;
        transform: translateX(-25px);
	}
}

.mobile-info.visible ul {
	visibility: visible;

	a::after {
		/* navigation item icons */
        transform: translateY(-50%) scale(1);
        animation: scaleIn .15s backwards;
        transition: opacity .2s;
	}

	span {
		opacity: 1;
        transform: translateX(0);
        animation: slideIn .15s backwards;
        transition: transform .2s;
	}

	.no-touch & a:hover {
		color: $light-color;

		&::after {
			opacity: 1;
		}

		span {
			transform: translateX(-5px);
		}
	}

	li:first-of-type a::after, 
	li:first-of-type span {
        animation-delay: .05s;
	}

	li:nth-of-type(2) a::after, 
	li:nth-of-type(2) span {
        animation-delay: .1s;
	}

	li:nth-of-type(3) a::after, 
	li:nth-of-type(3) span {
        animation-delay: .15s;
	}

	li:nth-of-type(4) a::after, 
	li:nth-of-type(4) span {
        animation-delay: .2s;
	}

	li:nth-of-type(5) a::after, 
	li:nth-of-type(5) span {
        animation-delay: .25s;
	}
}
@keyframes scaleIn {
    from {
        transform: translateY(-50%) scale(0)
    }

    to {
        transform: translateY(-50%) scale(1)
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-25px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.site-content {
    width: 100%;
    @media screen and (min-width: 1536px) {
        max-width: 60%;
    }
    @media screen and (min-width: 1280px) {
        max-width: 80%;
    }
    @media screen and (max-width: 575px) {
        padding: 50px 0;
    }
    &__title {
        h1 {
            color: $primary-color;
            font-size: 3.5rem;
            font-weight: bold;
            line-height: 3.5rem;
            @media screen and (min-width: 1360px) {
                font-size: 4.5rem;
                line-height: 4.5rem;
            }
            span {
                color: $secondary-color;
            }
        }
    }
    &__description {
        h4 {
            color: $primary-color;
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 0;
        }
        p {
            font-weight: lighter;
        }
    }
}
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 992px) {
        position: absolute;
        z-index: 0;
    }
    h4 {
        color: $primary-color;
        padding-left: 50px;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
}
.player-bar {
    background: linear-gradient(to right, $primary-color, $secondary-color);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px 25px;
    position: relative;
    @media screen and (min-width: 576px) {
        padding: 20px 50px;
    }
    &:after {
        content: url(../img/circles.svg);
        position: absolute;
        right: -165px;
        top: -110px;
        transform-origin: center;
    }
    &.playing {
        &:after {
            animation: rotate 25s infinite linear;
        }
        .play {
            margin-right: 2rem;
            #play-btn {
                background-image: url(../img/pause-icon.svg);
            }
        }
    }
    .play {
        margin-right: 2rem;
        #play-btn {
            display: block;
            background-image: url(../img/play-icon.svg);
            background-size: cover;
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 30px;
            height: 33px;
            &:focus {
                outline: none;
            }
        }
        img {
            vertical-align: bottom;
        }
    }
    &__track {
        margin-right: 1.5rem;
        .track-time {
            color: $light-color;
        }
        .track-time-bar {
            background-color: $light-color;
            border-radius: 5px;
            height: 5px;
            min-width: 30rem;
            width: 100%;
        }
    }
    .volume {
        display: flex;
        align-items: center;
        input[type="range"] {
            background-color: $light-color;
            border-radius: 4px;
            height: 5px;
            margin: 0 0.5rem;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            // Range Handle
            &::-webkit-slider-thumb {
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: $light-color;
                cursor: pointer;
                transition: background .15s ease-in-out;

                &:hover {
                    background: $primary-color;
                }
            }

            &:active::-webkit-slider-thumb {
                background: $primary-color;
            }

            &::-moz-range-thumb {
                width: 15px;
                height: 15px;
                border: 0;
                border-radius: 50%;
                background: $primary-color;
                cursor: pointer;
                transition: background .15s ease-in-out;

                &:hover {
                    background: $secondary-color;
                }
            }
            &:active::-moz-range-thumb {
                background: $secondary-color;
            }
            &:focus {
                outline: none;
            }
            
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.whatsapp-contact {
    position: absolute;
    bottom: 100px;
    right: 50px;
}